table {
  text-align: center;
}

th {
  font-weight: bold;
  color: dodgerblue;
}

li {
  list-style-type: square;
}

blockquote {
  background-color: #B10DC9;
  color: #FFF;
  padding: 0.5em;
  border-radius: 10px;
  box-shadow: 2px 2px rgba(125,125,125, .5);
}

form li{
  list-style-type: none;
}


#teamRoster {
  display: flex;
  width: 50vw;
  justify-content: space-between;
}

#teamRoster img{
  display: none;
}

#teamRoster li:first-of-type ul, #teamRoster li:last-of-type ul  {
    height: 100%;
    position: relative;
}


#teamRoster li:first-child ul::before {
  content: "";
  z-index: -1;
  background-image: url("https://upload.wikimedia.org/wikipedia/en/4/44/Denver_Broncos_logo.svg");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.2;
}

#teamRoster li:last-child ul::before {
  content: "";
  z-index: -1;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/5c/Chicago_Bears_logo.svg");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.2;
}


#teamRoster li:first-of-type a:hover, #teamRoster li:last-of-type a:hover  {
  text-decoration: none;
  background-color: orange;
}

#teamRoster li:last-of-type a:hover {
  background-color: darkblue;
  color: white;
}

.subjectHeader {
  color: #7b68ee;
  font-family: sans-serif;
}
